* {
	font-family: "poppins-regular";
}

@font-face {
	font-family: "poppins-regular";
	src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
	font-family: "play-fair-display";
	src: url(../assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

.kumpulangambar {
	position: relative;
}

.kotak {
	position: relative;
}
.kotak img {
	width: 100%;
	object-fit: cover;
}
.top-lokasi-txt {
	position: absolute;
	z-index: 2;
	top: 0;
}
